<ion-modal-view>
  <ion-header-bar style="background:#F82FA6;">
    <h1 class="title">צור קשר</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">סגירה</button>
    </div>
  </ion-header-bar>
  <ion-content class="content">
  		<div class="" style="width:100%;" align="center">
		
			<div class="mainLogo">
            	<img ng-src="{{host}}/{{SupplierDetails.image}}" style="width:100%;" />
            </div>
		
            <div class="inputCode">
            	<input type="text" placeholder="הכנס שם מלא" ng-model="contact.name"/>
            </div>
            <div class="inputCode">
            	<input type="tel" placeholder="הכנס טלפון" ng-model="contact.phone"/>
            </div>
            <div class="inputCode">
            	<input type="email" placeholder="הכנס מייל" ng-model="contact.mail"/>
            </div>
            <div class="inputCode">
            	<input type="text" placeholder="תוכן הפנייה" ng-model="contact.desc"/>
            </div>			
            <div class="inputCode">
                <button class="button button-block button-balanced" style="width:90%; margin-top:20px; background-color:#f82fa6 !important " type="submit" ng-click="sendContact()">שליחת פרטים</button>
            </div>			
	  
        </div>
  </ion-content>
</ion-modal-view>
