<ion-view >
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    <ion-nav-buttons side="right" >
        <a class="item-icon-right headerIcons" style="left:20px"   href="#" > 	
             <i class="icon ion-ios-plus-empty"></i> 
  		</a>
        <a class="item-icon-right headerIcons" href="#" ng-click="ShowRightMenu()"> 
        	<i class="icon ion-ios-email-outline"></i> 	
  		</a>
        <a class="item-icon-right headerIcons" style="left:0px" href="#"  ng-click="ShowRightMenu()"> 
        	<i class="icon ion-ios-search"></i>	
  		</a>
    </ion-nav-buttons> 
  
  <ion-content class="content">
  		<section class="" style="width:100%;">
            <div class="DealMainImage">  
            	<img ng-src="{{host+'/'+Gallery[0]}}" style="width:100%" />
				<p class="DealPageTitle">{{Deal.title}}</p>          
            </div>
            
            <div class="list card">

                  <div class="item DelaInfo">
                    {{SupplierName(Deal.supplier_index)}}
                  </div>
                  
                  <div class="item DelaInfo">
                    בתוקף עד : {{Deal.deal_date}}
                  </div>
                  
                  <div class="item DelaInfo">
                    מחיר : {{Deal.price}}
                  </div>
                  
                  <div class="item DelaInfo">
                    <p class="cardIcons" style="padding-bottom:10px !important; margin-top:-6px;">
                     
                      <a href="#" class="subdued" style="margin-left:0px !important;">{{Deal.views}} <i class="icon ion-ios-eye-outline" style="font-size:20px; top:3px !important; position:relative;"></i> 
                      <a href="#" class="subdued" style="margin-left:8px !important;" >{{Deal.likes}} <i class="icon ion-ios-heart-outline" style="margin-right:1px !important;"></i> </a>
                      <a href="#" class="subdued" >232 <i class="icon ion-ios-pricetags-outline" style="margin-right:1px !important;"></i> </a>
                      
                    </p>
                  </div>
			</div>
            <div class="DealMainInfo"> 
            	<div ng-bind-html="Deal.desc | toTrusted"> </div>
            </div>
        </section>
  </ion-content>
</ion-view>
