<ion-view view-title="">
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    <ion-content style="background-color:#F1F1F1">
		<div>
			<!--
			<ion-slide-box ng-repeat="item in SupplierImages">
			  <ion-slide >
				<img  ng-src="{{host}}/{{item.image}}" style="width:100%; margin-top:-3px;" />
			  </ion-slide>
			</ion-slide-box>
			-->	
        	<img  ng-src="{{host}}/{{SupplierImages[0].image}}" style="width:100%; margin-top:-3px;" />
			
        </div>
        <table style="margin-top:-5px;">
        	<tr>
            	<td>
                	<img  src="img/details/i1.jpg" ng-click="CommentModal()" style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img  src="img/details/i2.jpg" ng-click="RateSupplier()" style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img  src="img/details/i3.jpg" ng-click="Video()"  style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img  src="img/details/i4.jpg" ng-click="Waze()"  style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img  src="img/details/i5.jpg" ng-click="dialPhone()"  style="width:100%; margin-top:-3px;" />
                </td>
            </tr>
        </table>
        <div class="mainInfo" >
        	<h3>{{SupplierDetails.name}}</h3>
            <h4> {{SupplierDetails.details}}   </h4>
        </div>
        <div class="mainDetails">

            <div class="orderButton" ng-click="ContactSupplier()"> 
            	<img  src="img/details/order.png" style="width:100%; margin-top:-3px;" />
            </div>
            
            </div>
            <div class="searchLine">
            </div>
			<!--
            <div class="mainPageVideo" align="center">
                <div class="mainPageVideoInsideDiv">
                    <img src="{{host}}/{{Banners[0].image}}" style="width:100%" />
                </div>
        	</div>
			-->
    </ion-content>
</ion-view>
