<ion-view >
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    <ion-nav-buttons side="right" >
              <a href="#/app/profile" class="subdued">
              	<div class="saveButton">
                     	שמור פרטים 
              	</div>
              </a>
    </ion-nav-buttons> 
  
  <ion-content class="content">
  		<div class="editDealImage" align="center">
        	<div>
        		<img ng-src="{{host+'/'+Deal.image2}}" style="width:100%;" />
                <p id="imgEditText">לחץ על התמונה לעריכה</p>
            </div>
        </div>
        <div class="inputTextEdit" align="center">
        	<div>
            	<input class="inputTextStyle" type="text" value="" placeholder="כותרת הדיל" />
                <div class="inputLine"></div>
            </div>
            <div style="margin-top:12px;">
            	<input class="inputTextStyle" type="text" value="" placeholder="תוקף הדיל" />
                <div class="inputLine"></div>
            </div>
            <div style="margin-top:12px;">
            	<input class="inputTextStyle" type="text" value="" placeholder="מחיר לפני הנחה" />
                <div class="inputLine"></div>
            </div>
            <div style="margin-top:12px;">
            	<input class="inputTextStyle" type="text" value="" placeholder="מחיר אחרי הנחה" />
                <div class="inputLine"></div>
            </div>
            <div style="margin-top:12px;">
            	<textarea class="inputTextStyle" placeholder="תיאור הדיל" rows="6" cols="50"></textarea>
                <div class="inputLine"></div>
            </div>
            <div style="margin-top:12px;">
            	<textarea class="inputTextStyle" placeholder="האותיות הקטנות" rows="6" cols="50"></textarea>
                <div class="inputLine"></div>
            </div>
        </div>
        <div style="width:100%" align="center" >
        	<a href="#/app/profile" class="subdued">
              	<div class="saveButton" style="width:40%; margin-top:20px;">
                     	שמור פרטים 
              	</div>
            </a>
        </div>
  </ion-content>
</ion-view>
