<ion-view hide-back-button="false">
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    
   


    <ion-nav-buttons side="right">
       <a class="item-icon-right headerIcons" style="left:20px"   href="#" > 	
             <i class="icon ion-qr-scanner"></i> 
  		</a>
        <a class="item-icon-right headerIcons"  href="#"  ng-click="TakePicture()"> 
        	<i class="icon ion-ios-camera-outline"></i>	
  		</a>
        <a class="item-icon-right headerIcons" style="left:0px" href="#" ng-click="ShowRightMenu()"> 
        	<i class="icon ion-clipboard"></i> 	
  		</a>
    </ion-nav-buttons> 
  
  <ion-content class="content">
    <ion-list >
        <img class="fullImage" ng-src="{{eventImage}}">
	
       
        <div class="list" style="direction:rtl; margin-top:4px;">
        	<div class="eventInfo" align="center">
                <h3>{{EventData.owners}}</h3>
                <h4>{{EventData.eventdate}}</h4>
                <h5>{{EventData.place}} , חיפה</h5>
            </div>
            <div class="greyLine" align="center">
            	<div>
                </div>
            </div>
            <div class="comment" align="center" style="margin-top:10px;">
            	<div class="eventRight">
                	<div>
                    	<img src="{{host}}/{{SupplierDetails.image}}" style="width:100%" />
                    </div>
                </div>
                <div class="supplierInfo">
                	<h3>{{SupplierDetails.name}}</h3>
                    <h4>{{SupplierDetails.address}}</h4>
                    <h4>{{SupplierDetails.phone}}</h4>
                    <h5 ui-sref="app.supplierdetails">לחצו לפרטים נוספים על האולם</h5>
                </div>
            </div>
            <div class="inputCode" align="center">
            <button class="button button-block button-balanced" style="width:90%; margin-top:20px; background-color:#425f9c !important " type="submit" ng-click="gotoMain()">התחבר דרך פייסבוק</button>
                <button class="button button-block button-assertive" style="width:90%; direction:rtl; background-color:#f82fa6 !important" type="submit" ng-click="gotoMain()">דלג לאירוע</button>
                </div>
           
        </div>
    </ion-list>
  </ion-content>
</ion-view>
