<ion-view hide-back-button="true">
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    <ion-nav-buttons side="right">
       <a class="item-icon-right headerIcons" style="left:20px"   href="#" > 	
             <i class="icon ion-qr-scanner"></i> 
  		</a>
        <a class="item-icon-right headerIcons"  href="#"  ng-click="TakePicture()"> 
        	<i class="icon ion-ios-camera-outline"></i>	
  		</a>
        <a class="item-icon-right headerIcons" style="left:0px" href="#" ng-click="ShowRightMenu()"> 
        	<i class="icon ion-clipboard"></i> 	
  		</a>
    </ion-nav-buttons> 
  
  <ion-content class="content">
    <ion-list>
       <!-- <div ng-repeat="Deal in Deals"> -->
                <div class="list card" >
                   <div class="item item-avatar" style="margin-top:-5px; margin-bottom:-10px; border:none !important;">
                    <img src="img/logoIcon.png">
                    <h2>Emily</h2>
                    <p style="margin-top:-3px">Nov 4 at 5:07 am</p>
                  </div>
                  <div class="item item-body" style="border:none !important; padding-top:0px !important">
                    <img class="fullImage" ng-src="{{host+item.image}}" ng-click="ImageModal(host+item.image)">
                    <div class="cardDesc">ממש מדהימה , אהבתי מאד</div>
                    <div class="cardLine"></div>
                    
                    <p class="cardIcons">
                      <!-- <a class="cardTitle" style="text-align:right; float:right;" >bhxhui</a> -->
                      <a href="#" class="subdued" style="margin-left:0px !important;">{{Deal.views}} <i class="icon ion-android-share-alt" style="font-size:20px; top:3px !important; position:relative;"></i> שתף
                      <a href="#" class="subdued" style="margin-left:8px !important;"><i class="icon ion-ios-heart-outline" style="margin-right:1px !important;"></i> 22 אהבתי</a>
                      <a href="#" class="subdued" > <i class="icon ion-ios-pricetags-outline" style="margin-right:1px !important;"> 5 תגובות </i> </a>
                    </p>
                    
                   </a>
                  </div>
                </div>

       <!--</div>-->
    </ion-list>
  </ion-content>
  
		  <script id="image-modal.html" type="text/ng-template">
		  <div class="modal image-modal transparent" ng-click="closeModal()">
			  <ion-pane class="transparent">
				 <img ng-src="{{imageSrc}}" class="fullscreen-image" style="width:100%;"/>
			  </ion-pane>
		  </div>
	  </script>   
</ion-view>
