<ion-view hide-back-button="false">
	<ion-nav-title align-title="left" style="border:none !important">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    
    <div class="bar bar-footer" style="background-color:#f82fa6 !important;">
      <div  style=" margin-top:-8px; width:100%; ">
              <div class="item-input-inset" style="width:100%; text-align:right !important;">
                <img src="img/chat_arrow.png" style="width:7%; margin-right:10px; margin-top:1px;" ng-click="SendComment()" /> 
                <label class="item-input-wrapper" style="width:75%; float:right; text-align:right !important;">
                  <input type="text" style="width:100%; text-align:right;" placeholder="הוסף תגובה"  ng-model="params.text" ng-keypress="enterPress($event)">
                </label>
               
            </div>
        </div>
    </div>


    <ion-nav-buttons side="right">
       <a class="item-icon-right headerIcons" style="left:20px"   href="#" > 	
             <i class="icon ion-qr-scanner"></i> 
  		</a>
        <a class="item-icon-right headerIcons"  href="#"  ng-click="TakePicture()"> 
        	<i class="icon ion-ios-camera-outline"></i>	
  		</a>
        <a class="item-icon-right headerIcons" style="left:0px" href="#" ng-click="ShowRightMenu()"> 
        	<i class="icon ion-clipboard"></i> 	
  		</a>
    </ion-nav-buttons> 
  
  <ion-content class="content">
    <ion-list>
        <img class="fullImage" style="margin-top:-3px;" ng-src="{{host+Card.image}}">
	
	<!--
        <div class="list" ng-repeat="item in Comments">
              <p>{{item.comment}}</p>
              <p style="margin-top:-3px">{{item.date |newDate }}</p>
        </div>
	-->
        <div class="list" ng-repeat="item in Comments" style="direction:rtl; margin-top:20px;">
            <div class="comment" align="center">
            	<div class="commentRight">
                	<div>
                    	<img src="img/logoIcon.png" style="width:100%" />
                    </div>
                </div>
                <div class="commentLeft" style="margin-top:-3px;">
                	<h3>Selfie</h3>
                    <h4>{{item.text}}</h4>
                </div>
            </div>
            

        </div>
    </ion-list>
  </ion-content>
</ion-view>
