<ion-view hide-nav-bar="true" hide-back-button="true">
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>

  
  <ion-content class="content">
  		<div class="" style="width:100%;" align="center">
			<div class="mainLogo">
            	<img src="img/selfy.png" style="width:100%;" />
            </div>
            <div class="inputCode">
            	<p>הכנס קוד אירוע : </p>
            	<input type="text" placeholder="הכנס קוד אירוע" ng-model="login.password"/>
                <button class="button button-block button-balanced" style="width:90%; margin-top:150px; background-color:#f82fa6 !important " type="submit" ng-click="LoginBtn()">התחבר לאירוע</button>
                <button class="button button-block button-assertive" style="width:90%; direction:rtl; background-color:#f82fa6 !important" type="submit" ng-click="scanQR()">סרוק QR</button>
            </div>
            <div class="list" style="direction:rtl; margin-top:70px;">
               
              
            </div>
	  
	  
        </div>
  </ion-content>
</ion-view>