<ion-view hide-back-button="true">
	<ion-nav-title align-title="left" ui-sref="app.supplierdetails">
        <img class="title-image" src="img/alogo.png"  />
    </ion-nav-title>
    <ion-nav-buttons side="right">
       <a class="item-icon-right headerIcons" style="left:40px"   href="#" ng-click="ShareOptions()"> 	
             <i class="ion-android-share-alt"></i>
  		</a>
    </ion-nav-buttons> 
  
  
   <div class="bar bar-footer" style="background-color:transparent !important;  margin-bottom:40px; float:right; border:none !important; direction:rtl;" align="right">
     	<img src="img/camera.png" style="width:70px; height:70px; margin-right:20px;  margin-top:1px; left:20px; position:relative" ng-click="TakePicture()" /> 
    </div>
    
    
  <ion-content class="content">
    <ion-list>
       <!-- <div ng-repeat="Deal in Deals"> -->
                <div class="list card" ng-repeat="item in Images" style=" overflow:hidden !important;"> 
                   <div class="item item-avatar" style="margin-top:-5px; margin-bottom:-10px; border:none !important; overflow:hidden !important;">
                    <img src="img/logoIcon.png">
                    <h2 style="color:#f82fa6; font-weight:bold;">Selfy</h2>
                    <p style="margin-top:-3px">{{item.date |newDate }}</p>
                  </div>
                  <div class="item item-body" style="border:none !important; padding-top:0px !important; overflow:hidden !important;">
                    <img class="fullImage" ng-src="{{host+item.image}}" ng-click="ImageModal(host+item.image)">
                    <div class="cardDesc">{{item.text}}</div>
                    <div class="cardLine"></div>
                    <p class="cardIcons">
                      <!-- <a class="cardTitle" style="text-align:right; float:right;" >bhxhui</a> -->
                      <a href="#" class="subdued" style="margin-left:0px !important;">{{Deal.views}} <i class="icon ion-android-share-alt" style="font-size:20px; top:3px !important; position:relative; color:#e91e63 !important;"></i> שתף
                      <a href="#" class="subdued" ng-click="likeImage($index)" style="margin-left:8px !important;"><i class="icon ion-ios-heart-outline" style="margin-right:1px !important;"; color:#e91e63 !important;></i> {{item.likes}} אהבתי</a>
                      <a href="#" class="subdued" ui-sref="app.imagecomments({ItemId: $index})"> <i class="icon ion-ios-pricetags-outline" style="margin-right:1px !important; color:#e91e63 !important;"> {{item.comments.length}} תגובות </i> </a>
                    </p>
                    
                   </a>
                  </div>
                </div>

       <!--</div>-->
    </ion-list>
  </ion-content>
  
		  <script id="image-modal.html" type="text/ng-template">
		  <div class="modal image-modal transparent" ng-click="closeModal()">
			  <ion-pane class="transparent">
				 <img ng-src="{{imageSrc}}" class="fullscreen-image" style="width:100%;"/>
			  </ion-pane>
		  </div>
	  </script>   
</ion-view>
