<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar align-title="left" class="bar-stable" style="background-color:#01c9c7 !important;">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" width="{{sideMenuWidth}}">
    <ion-content>
    	<img src="{{eventImage}}" style="width:100%" />
        <div class="menuHeaderText">
        	<p></p>
            <p style="margin-top:-10px;"></p>
        </div>
      <ion-list>
        <!-- <ion-item menu-close  style="text-align:right !important;  border:none; margin-top:10px;"; href="#/app/search">
          	העסקאות שלנו  <i class="icon ion-bag" style="padding-left:4px !important; font-size:21px !important;"></i>
        </ion-item>
        <ion-item menu-close  style="text-align:right !important;  border:none; margin-top:-15px;"; href="#/app/search">
          	המועדפים שלי <i class="icon ion-android-star-outline" style="padding-left:5px !important; font-size:26px !important; margin-top:3px !important;"></i>
        </ion-item>
        <ion-item menu-close style="text-align:right !important; "; href="#/app/browse">
          	הפרופיל שלי <i class="icon ion-android-star-outline" style="padding-left:5px !important; font-size:26px !important; margin-top:3px !important;"></i>
        </ion-item>
        <ion-item menu-close  style="text-align:right !important; border-top:none; border-bottom:none"; href="#/app/playlists">
          	תקנון
        </ion-item>
        <ion-item menu-close  style="text-align:right !important; border-top:none; border-bottom:none"; href="#/app/playlists">
          	התנתק
        </ion-item>-->
        <ion-item menu-close href="#/app/main" style="border-top:none !important;">
        	<div style="left:30px; position:relative; text-align:right">
          		<span style="top:-7px; margin-right:7px; position:relative">ראשי</span> <img src="img/menu_icons/home.png" style="width:12%; left:10px; " />
            </div>
        </ion-item>
        <ion-item menu-close href="#/app/share" style="border-color:white !important; margin-top:-20px;">
          <div style="left:30px; position:relative; text-align:right;">
          		<span style="top:-7px; margin-right:7px; position:relative">שתף חברים</span> <img src="img/menu_icons/i2.png" style="width:12%; left:10px;  " />
            </div>
        </ion-item>
        <ion-item menu-close href="#/app/photographer" >
        	<div style="left:30px; position:relative; text-align:right">
         		 <span style="top:-7px; margin-right:7px; position:relative">תמונות צלם</span> <img src="img/menu_icons/i3.png" style="width:12%; left:10px;  " />
                 </div>
        </ion-item>		
        <ion-item menu-close href="#/app/profile" ng-click="Foundphone()" style="border-color:white !important;  margin-top:-20px;">
        	<div style="left:30px; position:relative; text-align:right">
          		<span style="top:-7px; margin-right:7px; position:relative">מי אנחנו</span> <img src="img/menu_icons/i4.png" style="width:12%; left:10px;  " />
                </div>
        </ion-item>			
        <ion-item menu-close href="#/app/contact" style="border-color:white !important;  margin-top:-20px;">
        	<div style="left:30px; position:relative; text-align:right">
          		<span style="top:-7px; margin-right:7px; position:relative">צור קשר</span> <img src="img/menu_icons/i5.png" style="width:12%; left:10px;  " />
                </div>
        </ion-item>
        <ion-item menu-close href="#" ng-click="scanCode()" style="border-color:white !important;  margin-top:-20px;">
        	<div style="left:30px; position:relative; text-align:right">
         	 <span style="top:-7px; margin-right:7px; position:relative">סרוק QR</span> <img src="img/menu_icons/i6.png" style="width:12%; left:10px;  " />
             </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
