<ion-view hide-back-button="false">
	<ion-nav-title align-title="left" style="border:none !important">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    


  
  <ion-content class="content">
  
	<div class="card" ng-repeat="item in Photographs">
	  <div class="item item-text-wrap" ng-click="showModal(item.image)">
		<img ng-src="{{host+item.image}}" style="width:100%;">
	  </div>
	</div>
	
  </ion-content>
  
  
		  <script id="image-modal.html" type="text/ng-template">
		  <div class="modal image-modal transparent" ng-click="closeModal()">
			  <ion-pane class="transparent">
				 <img ng-src="{{imageSrc}}" class="fullscreen-image" style="width:100%;"/>
			  </ion-pane>
		  </div>
	  </script>  

	  
</ion-view>
