<ion-modal-view>
  <ion-header-bar>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closePreview()">סגירה</button>
    </div>
  </ion-header-bar>
  
   <div class="bar bar-footer" style="height:100px !important">
      <div  style=" margin-top:-8px; width:100%; " align="center">
      			 <button class="button button-block button-assertive" style="width:90%; direction:rtl; background-color:#f82fa6 !important" type="submit" ng-click="sendImage()">שלח תמונה</button>	
                 
              <div class="item-input-inset" style="width:100%; text-align:right !important; background-color:#f82fa6 !important; ">
                <img src="img/chat_arrow.png" style="width:7%; margin-right:10px; margin-top:1px;"  /> 
                <label class="item-input-wrapper" style="width:75%; float:right; text-align:right !important;">
                  <input type="text" style="width:100%; text-align:right;" placeholder="הוסף תגובה"  ng-model="preview.text" >
                </label>
               
            </div>
        </div>
    </div>
    
  <ion-content>
    <ion-list>
       <!-- <div ng-repeat="Deal in Deals"> -->
                <div class="list card" >
                   <div class="item item-avatar" style="margin-top:-5px; margin-bottom:-10px; border:none !important;">
                    <img src="img/logoIcon.png">
                    <h2>Emily</h2>
                    <p style="margin-top:-3px">Nov 4 at 5:07 am</p>
                  </div>
                  <div class="item item-body" style="border:none !important; padding-top:0px !important">
                    <img class="fullImage" ng-src="{{host+CameraImageSrc}}" ng-click="ImageModal(host+CameraImageSrc)">
                    <div class="cardDesc">{{preview.text}}</div>
                    <div class="cardLine"></div>
                    
                    <p class="cardIcons">
                      <!-- <a class="cardTitle" style="text-align:right; float:right;" >bhxhui</a> -->
                      <a href="#" class="subdued" style="margin-left:0px !important;">0 <i class="icon ion-android-share-alt" style="font-size:20px; top:3px !important; position:relative;"></i> שתף
                      <a href="#" class="subdued" style="margin-left:8px !important;"><i class="icon ion-ios-heart-outline" style="margin-right:1px !important;"></i> 0 אהבתי</a>
                      <a href="#" class="subdued" > <i class="icon ion-ios-pricetags-outline" style="margin-right:1px !important;"> 0 תגובות </i> </a>
                    </p>
                    
                   </a>
                  </div>
				 
                </div>
				
				<div align="center">
				
				

				
				</div>
				

       <!--</div>-->
    </ion-list>
  </ion-content>
</ion-modal-view>
