<ion-view hide-nav-bar="true">
  <ion-content class="content_white">
  		<a href="#/app/main">
            <div class="profileBackButton">
                    <i class="icon ion-ios-arrow-back"></i>
            </div>
        </a>
        <a href="#/app/main">
  		<div class="avatarImage" align="center">
        	<img src="img/avatar.png" style="width:30%" />
            <p class="profileName"> שי לוסקי</p>
            <p class="profileEmail">Tapper.israel@gmail.com</p>
        </div></a>
   		<div class="blueHeader">
        	<img src="img/back_blue.jpg" style="width:100%" />
        </div>
        <div class="buttonsContainer">
        	<div class="buttonsContainerDiv">
                <div class="profileButton profileButtonLeft">
                      הוסף קופון <i class="icon ion-plus"></i>
                </div>
                <a href="#/app/editProfile" class="subdued"  /> 
                    <div class="profileButton profileButtonRight">
                        ערוך פרטים <i class="icon ion-edit"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="profileTabs">
        	 <ion-tabs class="tabs-top" style="overflow:hidden; direction:rtl !important">
                <!-- Tab 1 -->
                <ion-tab title="פרטי העסק" class="tabSelected">
                    <ion-nav-view name="tab-tab1">
                        <ion-content style="top:50px; position:relative">
                           		<div class="statProfile">
                                	<h3>סטטיסטיקה</h3>
                                    <div style="margin-right:10px;">
                                        <h4 style="margin-top:-10px;"><i class="icon ion-ios-eye-outline" style="font-size:23px; top:4px "></i>צפיות : 240</h4>
                                        <h4 style="margin-top:-10px;"><i class="icon ion-ios-heart-outline"></i>אהבתי : 32</h4>
                                        <h4 style="margin-top:-7px;"><i class="icon ion-clipboard"></i>תגובות : 21</h4>
                                    </div>
                                    <div class="profileLine" ></div>
                                </div>
                                <div class="statProfile">
                                	<h3>מידע כללי</h3>
                                    <div style="margin-right:10px;">
                                        <h4 style="margin-top:-1px;">שם : Tapper</h4>
                                        <h4 style="margin-top:-5px;">כתובת : שדרות ההסתדרות 246 , חיפה</h4>
                                        <h4 style="margin-top:-5px;">טלפון : 0509666662</h4>
                                        <h4 style="margin-top:-5px;">אימייל : tapper.israel@gmail.com</h4>
                                        <h4 style="margin-top:-5px;">אתר אינטרנט : http://www.tapper.co.il</h4>
                                    </div>
                                    <div class="profileLine"></div>
                                    <h3>עוד כמה פרטים </h3>
                                    <h4 id="profileInfo" style="margin-top:-1px;">חברת טאפר מתמחה בפיתוח משחקים ופיתוח אפליקציות למובייל ולאינטרנט. פיתוח תוכנה , בניית אתרים , קידום אתרים בגוגל וברשתות החברתיות. הסטודיו שלנו עם מעל ל 10 שנות ניסיון בתחום , במשרדו נמצאים מיטב המומחים לפיתוח אפליקציות ואתרים ובניית מערך שיווקי אשר ישימו את האפליקצייה שלכם במרכז ומסביבו מתכננים מסר רב של אלמנטים תומכים כדוגמת העלאת האפליקציה לחנויות השונות , קידום האפליקציה בהמון דרכים על מנת לייצר לכם את הדבר העיקרי – הורדות !! <br /></br>חברת טאפר מתמחה בפיתוח משחקים ופיתוח אפליקציות למובייל ולאינטרנט. פיתוח תוכנה , בניית אתרים , קידום אתרים בגוגל וברשתות החברתיות. הסטודיו שלנו עם מעל ל 10 שנות ניסיון בתחום , במשרדו נמצאים מיטב המומחים לפיתוח אפליקציות ואתרים ובניית מערך שיווקי אשר ישימו את האפליקצייה שלכם במרכז ומסביבו מתכננים מסר רב של אלמנטים תומכים כדוגמת העלאת האפליקציה לחנויות השונות , קידום האפליקציה בהמון דרכים על מנת לייצר לכם את הדבר העיקרי – הורדות !!</h4>
                                    <div class="profileLine"></div>
                                </div>
                        </ion-content>
    
                    </ion-nav-view>
                </ion-tab>
    
    
                <!-- Tab 2 -->
                <ion-tab title="הפרוייקטים שלי"  class="tabSelected">
                    <ion-nav-view name="tab-tab2">
                        <ion-content style="top:50px; position:relative">
                            <div ng-repeat="Deal in Deals">
                            <div class="list card" >
                              <div class="item item-body">
                                <a href="#/app/deal/{{$index}}" class="subdued" style="padding:0px; margin:0px;" >
                                    <img class="fullImage" ng-src="{{host+'/'+Deal.image2}}">
                                    <p class="cardDesc">{{Deal.title}}</p>
                                    <div class="cardPrice">
                                          <span id="oldPrice">{{Deal.price}} ש"ח</span> <span id="newPrice">{{Deal.old_price}} ש"ח</span>
                                    </div>
                                </a>
                                <div class="cardLine"></div>
                                
                                <p class="cardIcons">
                                  <a href="#/app/editDeal/{{Deal.index}}" class="cardTitle subdued"  style="text-align:right; float:right;" >לחץ לעריכת הפרוייקט</a>
                                  <a href="#" class="subdued" style="margin-left:0px !important;">{{Deal.views}} <i class="icon ion-ios-eye-outline" style="font-size:20px; top:3px !important; position:relative;"></i> 
                                  <a href="#" class="subdued" style="margin-left:8px !important;" >{{Deal.likes}} <i class="icon ion-ios-heart-outline" style="margin-right:1px !important;"></i> </a>
                                  <a href="#" class="subdued" >232 <i class="icon ion-ios-pricetags-outline" style="margin-right:1px !important;"></i> </a>
                                  
                                </p>
                               </a>
                              </div>
                            </div>
                   		</div>
                        </ion-content>
                    </ion-nav-view>
                </ion-tab>
            </ion-tabs>
		</div>
  </div>
  </ion-content>
 
    
  
</ion-view>
