<ion-view hide-back-button="false">
	<ion-nav-title align-title="left" style="border:none !important">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    


  
  <ion-content class="content">
    <ion-list>
        <img class="fullImage" style="margin-top:-3px;" ng-src="{{qrCode}}">
	


    </ion-list>
  </ion-content>
</ion-view>
