/* Empty. Add your own CSS if you like #f82fa6  */

.title-image
{
	width:85px;
	left:0%;
	position:relative;
	float:left;
	margin-top:-5px;
	margin-left:0px;
	z-index:100;
}

.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

.bar.bar-header, .bar.bar-footer
{
	border: 0px;
	border-color: transparent;
	border-top: transparent;
	border-bottom: transparent;
	background-image: none !important; 
}


.mainLogo
{
	width:80%;
	margin-top:10px;
}

.inputCode
{
	width:100%;
}

.inputCode p
{
	text-align:right;
	color:#999;
	direction:rtl;
	width:90%;
	margin-top:-25px;
}
.inputCode input
{
	width:90%;
	padding-top:10px;
	height:60px;
	padding-bottom:10px;
	border-radius:5px;
	margin-top:5px;
	background-color:#dedad7;
	text-align:center;
	font-size:35px;
	color:#f82fa6;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif
	border:1px solid white;
}
.bar-header 
{
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
	
	 -moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}


.content
{
	/*background-color:#e4e9ea;*/
	background-color:#f1f1f1;
}

.content_white
{
	background-color:#fff;
}

.headerIcons
{
	position:relative; 
	left:10px;
}

.headerIcons i
{
	font-size:30px !important;
	color:black;
}

/* Menu Page*/
.menuHeaderText
{
	color:white;
	margin-top:-60px;
	text-align:right;
	direction:rtl;
	padding-right:10px;
}

.MenuItem
{
	text-align:right !important;
	direction:rtl;
}

.menuLine
{
	width:100%;
	height:1px;
	background-color:#e4e9ea;
}
/* Deals Page */

.fullImage
{
	width:100%;
	padding:0px;
	margin:0px;
}

.cardTitle
{
	text-align:right;
	direction:rtl;
	font-size:13px !important;
	color:#999 !important;
	margin-top:2px !important;
}

.cardDesc
{
	text-align:right;
	direction:rtl;
	margin-top:0px;
	margin-bottom:10px;
}


.cardPrice
{
	text-align:left;
	font-size:17px;
	margin-right:10px;
	color:#CCC;
	margin-top:-7px;
	width:100%;
	direction:rtl;
}

#newPrice
{
	text-decoration:line-through;
}
#oldPrice
{
	color:#d6a82a;
	font-weight:bold;
}

.cardLine
{
	background-color:#e5e5e5;
	width:100%;
	height:1px;
	margin-top:3px;
	margin-bottom:-12px;
}

.cardIcons
{
	text-align:right;
	direction:rtl;
	margin-bottom:-10px !important;
	padding-bottom:0px !important;
	margin-top:-10px;
}

.cardIcons a
{
	padding-bottom:10px;
	padding-left:10px;
	padding-top:0px;
	border-left: 1px solid #e5e5e5;
}

.DealMainImage
{
	width:100%;
	background-color:white;
	 -moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}

.DealMainInfo
{
	width:100%;
	background-color:white;
	text-align:right;
	direction:rtl;
	padding:15px;
	 -moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}

/* Deal Page */

.DealPageTitle
{
	text-align:right; 
	padding:15px;
	direction:rtl;
}

.DelaInfo
{
	text-align:right;
	direction:rtl;
	padding-top:8px !important;
	padding-bottom:8px;
}


/* Profile Page */

.blueHeader
{
	width:100%;
}

.profileTabs
{
	 -moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
	 position:relative;
	 z-index:-1;
	 margin-top:-6px !important;
}

.tabs .tab-item 
{    
    max-width: none;
}

.buttonsContainer
{
	width:100%; 
	margin-top:-60px; 
	position:absolute;
}

.buttonsContainerDiv
{
	width:90%;
	overflow:hidden;
	left:5%;
	position:relative;
}

.profileButtonLeft
{
	width:49%;
	float:left;
}

.profileButtonRight
{
	width:49%;
	float:right;
}

.profileButton
{
	border:1px solid white;
	padding:4px 10px 4px 10px;
	text-align:center;
	color:white;
	border-radius:5px;
}

.avatarImage
{
	position:absolute;
	margin-top:10px;
}

.avatarImage img
{
	border-radius:50%;
}

.profileName
{
	color:#ccc;
	text-align:center;
	font-size:16px;
}

.profileEmail
{
	color:#ccc;
	text-align:center;
	margin-top:-10px;
	font-size:12px;
	font-weight:200
}

.tabSelected
{
	border-bottom:1px solid #03F
}

.profileBackButton
{
	color:white;
	position:absolute;
	top:10px;
	left:10px;
	font-size:20px;
}

.profileTabs
{
	width:100%;
	position:relative;
	margin-top:-5px;
	padding-top:0px;
}

.tab-item
{
	border-bottom:none !important;
}
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated 
{
    color:#315caa;
	font-weight:bold;
	border-bottom:1px solid #315caa !important;
}

.statProfile
{
	padding-right:10px;
	padding-top:10px;
	background-color:white;
}

.statProfile h3
{
	font-size:16px;
	color:#929292;
}

.statProfile h4
{
	font-size:14px;
	color:#434343;
}

.statProfile h4 i
{
	font-size:18px;
	margin-left:5px;
	top:3px;
	position:relative;
}

.profileLine
{
	background-color:#eeeded;
	height:1px;
	width:100%;
	left:43px;
	position:relative
	margin:3px 0 3px 0;
}

#profileInfo
{
	padding:3px 10px 10px 50px;
	font-size:14px;
	line-height:1.4;
}

/*editDealPage*/

.editDealImage
{
	width:100%;
	margin-top:20px;	
}

.editDealImage div
{
	width:90%;
}

.editDealImage div img
{
	border:6px solid white;	
	 -moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}

#imgEditText
{
	text-align:center;
	color:#aaa;
	font-weight:bold;
}

.inputTextEdit
{
	width:100%;
}

.inputTextEdit div
{
	width:90%;
}

.inputTextStyle
{
	width:100%;
	text-align:right;
	padding-right:20px;
	background-color:transparent;
}

.inputLine
{
	width:100%;
	height:1px;
	background-color:#ccd1d5;
}

.saveButton
{
	width:100%;
	border:1px solid #ccd1d5;
	padding:3px 10px 0px 10px;
	height:28px;
	margin-top:3px;
	margin-right:10px;
	text-align:center;
	color:#999;
	border-radius:5px;
}

/* Edit prfile Div*/

.editProfileMain
{
	overflow:hidden;
	width:100%;
}

.editProfileImage
{
	float:left;
	width:30%;
}

.editProfileMainText
{
	float:right;
	width:70%;
	margin-top:20px;
}

.editProfileMainText div
{
	width:95%;
}

.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.comment
{
	overflow:hidden;
	width:100%;
	margin-top:10px;
}

.commentRight
{
	width:12%;
	float:right;
	margin-right:10px;
}

.commentLeft
{
	width:80%;
	float:right;
}

.commentLeft h3
{
	text-align:right;
	font-size:14px;
	color:#f82fa6;
	font-weight:bold;
	margin-top:3px;
}

.commentLeft h4
{
	text-align:right;
	font-size:14px;
	color:#999;
	font-weight:bold;
	margin-top:-10px;
}


.commentRight div
{
	width:80%;
}

.eventInfo
{
	width:100%;
}

.eventInfo h3
{
	width:90%;
	text-align:right;
	font-size:24px;
	color:#f82fa6;
	font-weight:bold;
}

.eventInfo h4
{
	width:90%;
	text-align:right;
	font-size:16px;
	color:#f82fa6;
	font-weight:bold;
	margin-top:-8px;
}

.eventInfo h4
{
	width:90%;
	text-align:right;
	font-size:16px;
	color:#f82fa6;
	font-weight:bold;
	margin-top:-8px;
}

.eventInfo h5
{
	width:90%;
	text-align:right;
	font-size:14px;
	color:#666;
	font-weight:bold;
	margin-top:-8px;
}


.commentLeft
{
	width:60%;
	float:right;
	margin-top:20px;
}

.eventRight
{
	width:30%;
	float:right;
	margin-right:10px;
}

.eventRight img
{
	 -moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
	 margin-top:10px;
}


.eventRight div
{
	width:80%;
}

.greyLine
{
	width:100%;

}

.greyLine div
{
	width:90%;
	height:2px;
	background-color:#e2e2e2;
	margin-bottom:0px;
	margin-top:20px;
}

.supplierInfo
{
	width:60%;
	float:right;
	margin-top:10px;
}

.supplierInfo h3
{
	text-align:right;
	font-size:14px;
	color:#f82fa6;
	font-weight:bold;
	margin-top:3px;
}

.supplierInfo h4
{
	text-align:right;
	font-size:14px;
	color:#999;
	font-weight:bold;
	margin-top:-6px;
}

.supplierInfo h5
{
	text-align:right;
	font-size:11px;
	color:#999;
	font-weight:bold;
	margin-top:-6px;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: 0.9;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

.mainInfo
{
	text-align:right;
	direction:rtl;
	padding:10px;
	padding-left:30px;
}

.mainInfo h3
{
	font-size:16px;
	font-weight:bold;
	color:#dc5353;
}

.mainInfo h4
{
	font-size:14px;
	color:#dc5353;
	line-height:1.4;
}

.mainDetails
{
	width:100%;
	overflow:hidden;
}

.searchLine
{
	background-color:#CCC;
	margin-top:15px;
	margin-bottom:15px;
	width:100%;
	height:1px;
}


.orderButton
{
	float:left;
	width:30%;
	margin-top:5px;
	margin-left:20px;
}